body {
  background-color: white;
  font-family: 'Niramit', sans-serif;
    height: 100%;
}

.navigation {
 
font-family: 'niramit'; 

    font-size: 1.5rem; 
    text-align: center;
  padding: 0;
  margin: 0;
    position: relative;
     width: 100%; 
    top: 0;
   
    
  
}
.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
display: inline-block;


}

.navigation li {
  list-style: none;
  float:left;
  letter-spacing: 2px;
  padding: 10px;
  margin-right: 50px;
  

    
}

.navigation li a {
    color: black;
     text-shadow: 0 2px 1px rgba(0,10,0,0.1);
    display: block;
    text-decoration: none;
       
}

.navigation li a:hover {
    color: dimgrey;
    margin-top: 2px;
   margin-left: 2px; 
    text-shadow: none;
}


#index .banner {
    
    background-image:
    radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/hero-img.png");
      background-color: white;
     height: 100%;
    width: 480px;
    padding-bottom: 200px; 
    padding-top: 200px;
}


#books .banner {
    
    background-image:
    radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/books.png");
     background-color: white;
    height: 100%;
    width: 480px;
    padding-bottom: 180px; 
    padding-top: 150px;
}

.banner {
   
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    border: solid  5px;
   
}


.hero-text h1 {
    text-align: center;
    position: relative;
    color: white; 
}


h1 {
  color: white;
  font-size: 80px;
  font-weight: 600;
font-family: 'Niramit', sans-serif;
    text-align:center;
    line-height: 100px;
    margin-bottom: auto
    
}


h2 {

  color: black;
  font-size: 40px;
    font-style: oblique;
 font-weight: 100; 
  line-height: 1px;
  text-align: center;
    padding: 10px;
}

h3 {
  color: black;
  font-size: 2em;
  font-weight: 500;
 margin-left: 20px;


    
}

p {
  color: black;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 10px;
  padding: 10px 20px;
text-align: center;
 
}

footer a {
    text-decoration: none;
    color: grey; 
    font-weight:800;
}

a:hover {
    text-decoration: none;
    color: darkgreen; 
    font-weight:800;
}


footer {
    font-size: 15px; 
    font-style: italic;
    color: grey;
    text-align: center;
    bottom: 0;
    position: relative;
}
