body {
    background-color: white;
    font-family: 'Alegreya', serif;
      
    
    display: grid;
    grid-template-rows: 50px auto auto 110px 40px;
    grid-row-gap: 10px; 
    grid-template-areas: "navigation"
        "banner"
        "intro"
        "socialmedia"
        "footer"; 
 
}

.navigation {
   
 grid-area: navigation;

    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
  
    width: 100%;
    top: 0; 
}
.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.navigation li {
    list-style: none;
    float:left;
    letter-spacing: 2px;
    padding: 10px;
    margin-right: 50px;  
}

.navigation li a {
    color: black;
    text-shadow: 0 2px 1px rgba(0, 10, 0, 0.1);
    display: block;
    text-decoration: none;
}

.navigation li a:hover {
    color: dimgrey;
    margin-top: 2px;
    margin-left: 2px;
    text-shadow: none;
}

.banner {
    grid-area: banner;
   width: 100%;
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    
   
   
}

.banner img {
    border-radius: 18%;
     opacity: 0.8;
    
}

.intro {
  grid-area: intro;
}



.banner h1 {
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 1.0;
    color: white;
    font-size: 60px;
    letter-spacing: px;
    font-family: 'Permanent Marker', cursive;
    line-height: 100px;
}




h2 {
    color: black;
    font-size: 35px;
    font-style: oblique;
    font-weight: 100;
    font-family: 'Permanent Marker', cursive;
    line-height: 1px;
    text-align: center;
    padding: 10px;
}

h3 {
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin-left: 20px;
}




p {
    color: black;
    font-size: 25px;
    line-height: 1.5em;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Alegreya', serif;

}



.socialmedia {
  grid-area: socialmedia;
    display: flex;
    padding: 10px;
    margin: 10;
    margin-bottom: 10px;
    justify-content: space-around;
    font-size: 40px;
    text-decoration: none;
}

.fa {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 90%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: purple;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}





footer {
     grid-area: footer;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    font-style: italic;
    color: grey;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    padding: 2px;
    margin: auto;
    text-transform: lowercase;
}

footer a {
    text-decoration: none;
    color: grey;
    font-weight: 800;
}

